* {
	margin: 0;
	padding: 0;
}
	/* MOBILE */
body {
	background: white;
}
header {
	 padding: 40px 0px 30px 0px;


}
.main_container {
	width: 100%;
	margin: 50px auto;
}
.inner_container {
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

h1 {
	color: rgb(14,17,17);
	text-align: center;
	margin-left: 5%;
	width: 90%;
	display: block;
	line-height: 76px;
}

.type--info {
	font-size: 35px;
	font-family: 'Palanquin Dark', sans-serif;
}

.type--centre {
	text-align: center;
}

.type--brand {
	font-family: 'Megrim', helvetica;
	font-size: 25px;
	letter-spacing: 7px;
}

.des {
    line-height: 38px;
    color: rgb(14,17,17);
    width: 90%;
    margin-left: 5%;
    font-size: 28px;
    letter-spacing: 3px;
}
.fa {
	color: rgba(14,17,17,0.9);
	font-size: 35px;
	text-align: right;
	display: inline-block;
	padding: 20px 0px;
}
.fa-linkedin-square:hover {
	color: #0077B5;
}
.fa-github:hover {
	color: #5e237f;
}
.fa-file-text:hover {
	color: #30a40e;
}
.fa-phone-square:hover {
	color: #004587;
}
.fa-envelope-square:hover {
	color: rgb(191,9,0);
}
.fa-github {
	padding-left: 15px;
	padding-right: 15px;
}
.fa-envelope-square, .fa-phone-square {
	padding-right: 15px;
}
.fa-file-text {
	font-size: 30px !important;
	vertical-align: top !important;
	padding-top: 22px !important;
}

.connect_header {
	width: 210px;
	display: block;
	margin: 0 auto;
}

.connect_footer {
	width: 210px;
	margin: 0 auto 50px auto;
}

.div_1, .div_2, .div_3, .div_4 {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: block;
	position: relative;
}
img {
	width: 100%;
	vertical-align: top;
	z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .6s ease;
  background-color: rgba(14,17,17,0.7);
}
.underlay {
  position: absolute;
  top: 35%;
  bottom: 0;
  text-align: center;
  right: 0;
  height: 65%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
}
button {
	padding: 5% 10%;
	background-color: rgba(255,255,255,0.1);
	border-radius: 5px;
	border: solid 2px white;
	color: white;
	font-size: 15px;
	letter-spacing: 5px;
	cursor: pointer;
}
.div_1:hover .overlay, .div_2:hover .overlay, .div_3:hover .overlay, .div_4:hover .overlay, .div_1:focus .overlay, .div_2:focus .overlay, .div_3:focus .overlay, .div_4:focus .overlay  {
  opacity: 0;
}
.div_4:focus .underlay,.div_1:hover .underlay, .div_2:hover .underlay, .div_3:hover .underlay, .div_4:hover .underlay, .div_1:focus .underlay, .div_2:focus .underlay, .div_3:focus .underlay, .div_4:focus .underlay {
	opacity: 1;
}
h4 {
	font-size: 13px;
	padding-bottom: 10px;
}
h4, .details {
	font-family: 'Fort', sans-serif;
	color: rgba(255,255,255,0.9);
	font-weight: lighter;
	padding-left: 15%;
	letter-spacing: 1.8px;
	opacity: .8;
}
h4 {
	padding-top: 15%;
}
.details {
	font-size: 11px;
}
.details--italic {
	font-style: italic;
}
.contactDetails {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	padding-bottom: 3px;
	opacity: .5;
	text-align: right;
	display: block;
}
@media screen and (min-width: 300px) {
	h4 {
		font-size: 16px;
	}
	.details {
		font-size: 13px;
	}
}
@media screen and (min-width: 550px) {
	header {
		display: flex;
		justify-content: space-between;
		margin: 0;
	}
	h1 {
		text-align: left;
		max-width: 50%;
	}
	.connect_header {
		margin-right: 5%;
	}
	.main_container {
		width: 100%;
	}
	.div_1, .div_2, .div_3, .div_4 {
		display: inline-block;
		width: 50%;
	}
	.des {
		width: 75%;
		margin-top: 6%;
		margin-bottom: 10%;
	}
}

	/* IPAD */

@media screen and (min-width: 768px) {
	header {
		display: flex;
		justify-content: space-between;
	}
	.des {
		width: 65%;
		font-size: 40px;
		line-height: 43px;
		margin-top: 10%;
		margin-bottom: 15%;
	}
	h4 {
		font-size: 20px;
	}
	.details {
		font-size: 15px;
	}
}

	/* LAPTOP */
@media screen and (min-width: 1000px) {
	.des {
		width: 60%;
		font-size: 50px;
		line-height: 45px;
		margin-top: 5%;
	}
}
@media screen and (min-width: 1200px) {
	.main_container {
		width: 100%;
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.div_1, .div_2, .div_3, .div_4 {
		width: 25%;
	}
	.des {
		margin-bottom: 9%;
	}
	h4 {
		font-size: 16px;
	}
	.details {
		font-size: 13px;
	}
}

	/* DESKTOP */

@media screen and (min-width: 1300px) {
	.main_container {
		margin-top: 140px;
		margin-bottom: 140px;
	}
}

@media screen and (min-width: 1500px) {
	h4 {
		font-size: 20px;
	}
	.details {
		font-size: 15px;
	}
}